ul{
    list-style-type: none;
    margin:0;;
    display:flex;
    padding:5px;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:rgb(2, 34, 34);
}
a:visited{
    color:rgb(3, 31, 31);
}
nav{
    width:100vw;
    height:100px;
    font-size: larger;
    font-weight: bolder;
}
input{
    font-size: larger;
    border-radius: 5%;
}
body{
    margin:0;
    
    height: 100%;
}
li{
    margin-top:20px;
    font-size: larger;
    color: rgb(9, 63, 63);
    font-family: 'Cedarville Cursive', cursive;
    
}
#logo{
    font-size: xx-large;
    font-family: 'Cedarville Cursive', cursive;
}
.header{
    display: flex;
    background-color:#B85B14;
    justify-content: space-between;
}
button{
    background-color:#5e4b84;
    font-size: 150%;
    font-weight: bolder;
}
.dropdown{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}
.dropbtn {
    background-color:rgb(21, 180, 180);
    color:rgb(9, 11, 14);
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color:rgb(9, 63, 63);
}
.dropdown a:hover {background-color: rgb(199, 188, 188);} 

.show {display: block;}

#Note:hover, #Note:focus {
    background-color: #505b61;
}

#ToDo:hover,#ToDo:focus {
    background-color: #505b61;
}

.dropdown-content {
    display: none;
    background-color:aliceblue;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
#cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
    justify-content: space-evenly;
}
.childDiv{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
    justify-content: space-evenly;
}
h4{
    background-color:rgb(9, 63, 63);
    color: aliceblue;
    border: 2px solid;
    margin: 80px;
    padding:40px;
}
.show {display: block;}

html {
 
    background-image: -webkit-linear-gradient(65deg, #5F9EA0 50%, #002D62 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
    text-align: center;
  }