*,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
  background-image: -webkit-linear-gradient(65deg, #5F9EA0 50%, #002D62 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
 
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: rgb(235, 201, 137);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

#today {
  background-color:rgb(235, 201, 137);
  color: black;
  font-weight: bolder;
}

ul{
  list-style-type: none;
  margin:0;;
  display:flex;
  padding:5px;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
  color:rgb(2, 34, 34);
}
a:visited{
  color:rgb(3, 31, 31);
}
nav{
  width:100vw;
  height:100px;
  font-size: larger;
  font-weight: bolder;
}
input{
  font-size: larger;
  border-radius: 5%;
}
body{
  margin:0;
 
  height: 100%;
}
li{
  margin-top:20px;
  font-size: 200%;
  color: rgb(9, 63, 63);
  font-family: 'Cedarville Cursive', cursive;
}
#logo{
  font-size: xx-large;
  font-family: 'Cedarville Cursive', cursive;
}
.header{
  display: flex;
  background-color:#B85B14;
  justify-content: space-between;
}
button{
  background-color:lightblue;
  font-size: 150%;
  font-weight: bolder;
}
.dropdown{
  float: right;
  margin-right: 200px;
  margin-top: 50px;
}
.dropbtn {
  background-color:rgb(21, 180, 180);
  color:rgb(9, 11, 14);
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color:rgb(9, 63, 63);
}
.dropdown a:hover {background-color: rgb(199, 188, 188);} 

.show {display: block;}

#Note:hover, #Note:focus {
  background-color: #505b61;
}

#ToDo:hover,#ToDo:focus {
  background-color: #505b61;
}

.dropdown-content {
  display: none;
  background-color:aliceblue;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#cards{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 30px;
  justify-content: space-evenly;
}
.childDiv{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 30px;
  justify-content: space-evenly;
}
h4{
  background-color:rgb(9, 63, 63);
  color: aliceblue;
  border: 2px solid;
  margin: 80px;
  padding:40px;
}
.show {display: block;}

html {

  background-image: -webkit-linear-gradient(65deg, #5F9EA0 50%, #002D62 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
  text-align: center;
}